<template>
    <lightning-card>
        <div class="slds-m-around_medium">
            <b>Cat</b>
        </div>
        <img
            src="https://www.shutterstock.com/image-vector/vector-isolated-cat-silhouette-logo-600nw-1537761179.jpg"
            height="100px"
            width="100px"/>
    </lightning-card>
</template>